.film-slider {
  display: flex;
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 20px;
  height: 200px;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
}

.item-slide {
  object-fit: cover;
  width: auto;
  margin: auto;
  height: 200px;
  transition: all 0.2s;
}

.film-slider .previous, .film-slider .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  margin-top: -50px;
  padding: 16px;
  color: rgb(249, 208, 71);
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-shadow: 6px 0 3px black;
}

.film-slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.film-slider .next:hover,
.film-slider .previous:hover {
  background-color: rgba(0, 0, 0, 0.2);
}